
html {
	padding-left: 5%;
	padding-right: 5%;
	background: #e4e4e4;
}

form {
	padding: 3%;
	border: 1px solid black;
}

#summonRatesInput {
	padding: 1%;
}

#summonRateType {
	margin-right: 1.5%;
	padding: 0.25%;
}

hr {
	display: none;
}

#numberOfSummons, #pityIncrease, #customSummonRate {
	width: 5em;
}

#submit {
	font-size: large;
	padding: 1%;
}

.lineBreaker {
	display: block;
}

@media (min-width: 750px) {
	.lineBreaker {
		display: inline;
	}
}
